/*
 * BASE STYLING
 */

.tile-row {
    *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.tile-row .tile {
    position: relative;

    display: block;
    float: left;
    height: 0px;
}

.tile-row .tile .tile-content {
    position: absolute;

    display:block;
    width: 100%;
    height: 100%;
}

/*
 * VARIABLES - Used for generating tiles rows
 */

 @nmrOfTiles: 12;

/*
 * MIXIN - Used for generating the tiles
 */

 #tiles { 

    .rowX(@index) when (@index > 0) {
        .tile-row@{index} { 
            .tile-row(@index, 4%); 
        }
        .rowX(@index - 1);
    }
    .rowX(0){}

    .tile-row(@nbrOfTiles,@percentMargin) {

        //Calculate the size of the tile
        @dimension: (100 / @nmrOfTiles) - @percentMargin;

        .tile {
            width: @dimension;
            margin: 0 0 @percentMargin @percentMargin;
            padding-bottom: @dimension;
        }

        //A wide tile is double the width of a normal tile
        .tile.wide, .tile-double {
            width: (@dimension * 2 + @percentMargin);
        }
        
        //A double tile is both double the width
        //and double the height of a normal tile
        .tile.double {
            padding-bottom: (@dimension * 2 + @percentMargin);
        }
    }
    .rowX(@nmrOfTiles);
}