
/*
 * ImageCollection 
 */

.tile.wide.imagecollection .tile-image {
	height: 100%;
}

.tile.imagecollection .tile-image,
.tile.imagecollection .tile-image + .tile-image {
	width: 50%;
	height: 50%;
	float: left;

	background-position: center center;
	background-size: cover;
}

.tile.wide.imagecollection .tile-image + .tile-image {
	width: 25%;
}

/*
 * Peek
 */

 .tile.peek > .tile-content-peek,
 .tile.peek > .tile-content {
 	transition: top 0.6s ease, bottom 0.6s ease;
 }

 .tile.peek > .tile-content-peek {
 	position: absolute;
 	top: 100%;
 	right: 0px;
 	bottom: 200%;
 	left: 0px;
 }

.tile.peek:hover > .tile-content,
.tile.peek.active > .tile-content {
	top: -100%;
	bottom: 100%;
}

.tile.peek:hover > .tile-content-peek,
.tile.peek.active > .tile-content-peek {
	top: 0px;
	bottom: 0px;
}