@import url('main.less');

.howto-section {

	h1 {
		font-size: 2em;
		color: #555;
		font-weight: bold;
	}

	.howto-case, .howto-result {
		box-sizing: border-box;
		padding-left: @grid-spacing;
		float:left;
		display:block;
		min-height: 1px;
	}

	.howto-case {
		width: 60%;
	}

	.howto-result {
		width: 40%;
	}
}