@color-accent: #1BA1E2;
@grid-spacing: 16px;
@content-spacing: 16px;

body {
	font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

h1,h2,h3,h4,h5,h6, p {
	font-weight: normal;
	margin: 0 0 @content-spacing 0;
}
h1 {
	font-size: 4em;
	line-height: 1em;
	margin: 0.2em 0;
	color: @color-accent;
}

h1 a {
	color: @color-accent;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: none;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
}

h2 [class*="icon-"] {
	margin-left: 10px;
}

small {
	font-size: 0.4em;
	color: #ccc;
	margin-left: 8px;
}

em {
	color: @color-accent;
}

.container {
	width: 940px;
	margin: 0 auto;
}

code {
	background: #efefef;
	color: @color-accent;
	font-size: 0.85em;
	padding: 0.15em;
}

.row {
	margin-left: -@grid-spacing;
	margin-top: @content-spacing;
	  *zoom: 1;
	&:before,
	&:after {
	  display: table;
	  content: "";
	  // Fixes Opera/contenteditable bug:
	  // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
	  line-height: 0;
	}
	&:after {
	  clear: both;
	}
}

.row .third, .row .half, .row .fill {
	box-sizing: border-box;
	padding-left: @grid-spacing;
	float:left;
	display:block;
	min-height: 1px;
}

.row .third {
	width: 100% / 3;
}

.row .half {
	width: 50%;
}

.row .fill {
	width: 100%;
}

.tile .tile-content {
	background-color: @color-accent;
	color:white;
}

.tile .tile-content a {
	color:white;
}

.tile a.tile-content:hover {
	background-color: darken(@color-accent,10);
}

.tile .tile-icon {
	width: 30px;
	margin: 0 auto;
	display: block;
	top: 50%;
	position: relative;
	margin-top: -12px;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
}

.tile .tile-title {
	position: absolute;
	left: 6px;
	bottom: 6px;
}

.hero .tile-content {
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url('../images/tiles-desktop.png');
}

.hero-text {
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 10% 24px 4px 16px;
	width: 40%;
}

.hero-tagline {
	margin-left: 16px;
	width: 40%;
}


/* Large desktop */
@media (min-width: 1200px) { 
	.container {
		width: 1170px;
	}
	.hero .tile-content {
		background-image: url('../images/tiles.png');
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  
	.container {
		width: 724px;
	}
	.hero {
		font-size: 11px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  
	.container {
		width: auto;
		margin: 0 10px;
	}
	.row .third {
		width: 100%;
	}
	.hero .tile-content {
		background-image: url('../images/tiles-tablet.png');
	}
	.hero {
		font-size: 14px;
	}
	.hero .hero-text {
		line-height: 1.3em;
		width: 70%;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {  
	h1 {
		font-size: 2.5em;
	}
	.hero .tile-content {
		background-image: url('../images/tiles-phone.png');
	}
	.hero {
		font-size: 10px;
	}
	.hero .hero-text {
		margin-top: 3%;
		line-height: 1.3em;
		width: 70%;
	}
}